.App{
    background-image: url(../public/back.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #505358;
}
.App__container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    width: 100%;
}