main{
 background-image: url(../public/bg.jpg);
 
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.App__container{
    width: 90vw;
    height: 90vh;
   border: 2px solid #fff;
   margin: 5vw;
   z-index: 10;
}