.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top:18px;
    align-items: center;
    padding: 20px 20px;
    border: 2px solid #fff;
    background-color: #3a53d4;
}
.nav__search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__search__input{
    width: 100%;
    border: none;
    background-color: #3a53d4;
    color: #fff;
    padding: 10px;
    font-size: 1.2em;
}