.movies__container {
  display: flex;
  flex-direction: column;
  margin-left: 2.4rem;
  overflow: hidden;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.movie {
  display: flex;
  flex-direction: column;
  margin-top: 1.4rem;
  width: 15vw;
}
.movie:hover{
  cursor: pointer;
}
.movies__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1.4rem;
}
.movie__pic {
  height: 40vh;
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}
.movie__title {
  font-size: 1rem;
  color: white !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movie__adds {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.movie__rating {
  height: 20px;
}
