.sidebar{
    display:flex;
    width:20%;
    justify-content: space-between;
    align-items: center;
  
    border: 2px solid rgba(158, 80, 158, 0.933);
}
.sidebar__top{
    width: 100%;
    padding: 15px;  
    background-color: #3a53d4;
}
.sidebar__left{
    display: flex;
}
.sidebar__logo{
    height:  30px;
    color: #fff;
}