.sidebar {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  width: 20%;
  align-items: center;

}
.sidebar__top {
    display: flex; 
  width: 100%;
justify-content: space-between;
align-items: center;
  padding: 15px;
  background-color: #3a53d4;
}
.sidebar__left {
    color: #fff;

  display: flex;
  align-items: center;
}
.sidebar__logo {
  height: 30px;
  width: 30px;
}
