.sidebar {
  display: flex;
  width: 20%;
  align-items: center;

}
.sidebar__top {
  width: 100%;

  padding: 15px;
  background-color: #3a53d4;
}
.sidebar__left {
    color: #fff;

  display: flex;
  align-items: center;
}
.sidebar__logo {
  height: 30px;
  width: 30px;
}
